{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-5">
    <h2>To-Do List 
        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <svg style="height: 30px; width: 30px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="blue">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </a>
    </h2>
    <hr />
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    
    <div class="row">
        {% for note in todo_list %}
            {% include 'note_snippet.html' with type="DELETE" note=note %}
        {% endfor %}
    </div>
    <hr />
    <h2>Finished List</h2>
    <div class="row">
        {% for note in finished_list %}
            {% include 'note_snippet.html' with type="ADD" note=note %}
        {% endfor %}
    </div>
</div>

{% endblock content %}
